.player {
    width: 240px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.username {
    color: blue;
}

@media (min-width: 768px) {
    .player {
        width: 480px;
    }
}